<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>dbaccess</servlet-name>
        <servlet-class>org.camp.servlet.dbaccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbaccess_kadai1</servlet-name>
        <servlet-class>org.camp.servlet.dbaccess_kadai1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbaccess_kadai2</servlet-name>
        <servlet-class>org.camp.servlet.dbaccess_kadai2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbaccess_kadai3</servlet-name>
        <servlet-class>org.camp.servlet.dbaccess_kadai3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbaccess_kadai4</servlet-name>
        <servlet-class>org.camp.servlet.dbaccess_kadai4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbaccess_kadai5</servlet-name>
        <servlet-class>org.camp.servlet.dbaccess_kadai5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>db_access_kadai6</servlet-name>
        <servlet-class>org.camp.servlet.dbaccess_kadai6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbaccess_kadai7</servlet-name>
        <servlet-class>org.camp.servlet.dbaccess_kadai7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbaccess_kadai8</servlet-name>
        <servlet-class>org.camp.servlet.dbaccess_kadai8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbaccess_kadai10_2</servlet-name>
        <servlet-class>org.camp.servlet.dbaccess_kadai10_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbaccess_kadai11_2</servlet-name>
        <servlet-class>org.camp.servlet.dbaccess_kadai11_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbaccess_kadai12_2</servlet-name>
        <servlet-class>org.camp.servlet.dbaccess_kadai12_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>display</servlet-name>
        <servlet-class>org.camp.servlet.display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processing</servlet-name>
        <servlet-class>org.camp.servlet.processing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbaccess</servlet-name>
        <url-pattern>/dbaccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbaccess_kadai1</servlet-name>
        <url-pattern>/dbaccess_kadai1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbaccess_kadai2</servlet-name>
        <url-pattern>/dbaccess_kadai2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbaccess_kadai3</servlet-name>
        <url-pattern>/dbaccess_kadai3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbaccess_kadai4</servlet-name>
        <url-pattern>/dbaccess_kadai4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbaccess_kadai5</servlet-name>
        <url-pattern>/dbaccess_kadai5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>db_access_kadai6</servlet-name>
        <url-pattern>/db_access_kadai6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbaccess_kadai7</servlet-name>
        <url-pattern>/dbaccess_kadai7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbaccess_kadai8</servlet-name>
        <url-pattern>/dbaccess_kadai8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbaccess_kadai10_2</servlet-name>
        <url-pattern>/dbaccess_kadai10_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbaccess_kadai11_2</servlet-name>
        <url-pattern>/dbaccess_kadai11_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbaccess_kadai12_2</servlet-name>
        <url-pattern>/dbaccess_kadai12_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processing</servlet-name>
        <url-pattern>/processing</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
